<!DOCTYPE html>
<html>

<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
  <script
          src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <link rel="stylesheet"
        href="/assets/main.css">
  <script src="/assets/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  {%- block head %}
  <title>{%- block title -%}{%- endblock title -%}</title>
  {%- endblock head %}
</head>

<body>
  <div id="themetoggle">
    <label class="switch">
      <input id="themetoggle-checkbox"
             type="checkbox"
             onclick="theme_slider(this);">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="center">
    <div id="content">
      {% block content -%}
      {%- endblock content %}
    </div>
    <div id="footer">
      {% block footer -%}
      {%- endblock footer %}
    </div>
  </div>
</body>

</html>
