@import url("//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/stackoverflow-light.min.css");

html {
  --background-color: #ffffff;
  --background-color1: #eeeeee;
  --background-color2: #222129;
  --accent-color0: #803500;
  --accent-color1: #d45800;
  --accent-color2: #ff832a;
  --text-color0: #000000;
  --text-color1: #d45800;
  --text-color2: #ffa86a;
  --border-radius: 0.3rem;
}