@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "/assets/dark.css";
@import "/assets/light.css" screen and (prefers-color-scheme: light);

i {
  vertical-align: middle !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

h1 {
  color: var(--accent-color1)
}

h2 {
  color: var(--accent-color2)
}

h3 {
  color: var(--accent-color1)
}

.center {
  margin: auto;
  margin-top: 2rem;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  width: 40%;
  min-width: 400px;
  max-width: 800px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
}


#themetoggle {
  position: absolute;
  top: 16px;
  right: 32px;
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}